* {
    margin: 0;
    padding: 0;
}

body {
    background: #eee;
}

.wrap {
    width: 1240px;
    height: 4000px;
    margin-right: -40px;
    margin: 50px auto;
    position: relative;
    float: left;
}

.wrap .box {
    width: 280px;
    height: 520px;
    margin: 0 21px 20px 0;
    float: left;
    background: #fff;
}

.wrap .box .img-box img {
    width: 100%;
    height: 425px;
}

.wrap .box .msg {
    width: 100%;
    height: 80px;
}

.wrap .box .msg .price {
    font-size: 16px;
    height: 22px;
    text-align: center;
}

.wrap .box .msg .title {
    width: 100%;
    text-align: center;
}

.wrap .box .msg .btn {
    width: 100%;
    height: 20px;
    background: pink;
    border: none;
}